<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.antao.servermanager.dao.ServiceDao">
    <insert id="addService" parameterType="com.antao.servermanager.model.ServiceModel">
        insert into t_serviceManager (f_name, f_disabled, f_host, f_port, f_startUpCommand) values
        (#{name}, #{disabled}, #{host}, #{port}, #{startUpCommand});
    </insert>

</mapper>